#main{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
  }
  input[type="radio"] {
    margin-right: 10px;
  }
  label {
    margin-right: 5px;
  }
  #btn{
    font-family: montserrat;
  }
  .correct-text {
    color: green;
    font-weight: bold;
    margin-right: 10px;
    font-family: montserrat;
  }
  
  .incorrect-text {
    color: red;
    font-weight: bold;
    margin-right: 10px;
    font-family: montserrat;
  }
  #result{
    font-family: montserrat;
    font-weight: bold;
  }